<h1>Accueil</h1>
<app-pizza [pizza]="selectedPizza"></app-pizza>
<app-author [user]="user"></app-author>




<!-- léquivalent de ngModel en code JS serait <input [value]="pizza.name" (keyup)="pizza.name = $event.target.value">  -->


<h2>Les pizzas</h2>
<input type="range" value="2"
  step="1"
  min="1"
  [max]="pizzas.length"
  [(ngModel)]="number"
  *ngIf="pizzas.length > 0">
<div class="row">
  <div *ngFor="let pizza of pizzas | slice:0:number" 
  (click)="onSelect(pizza)"
  [class.selected]="pizza === selectedPizza"
  class="col-3"
  >
    <div class="card text-center" [class.selected]="pizza === selectedPizza">
      <div class="card-body">
        <h5 class="card-title">{{pizza.name}}</h5>
        <span class="badge badge-pill badge-success">{{pizza.price | test}} € TTC</span>
          <span *ngFor= "let selectedIngredient of selectedIngredients; index as i" class="badge badge-pill badge-secondary"> {{selectedIngredient.name}} 
          <span (click)="deleteIngredient(i)">X</span>
        </span>
      </div>
      <div class="card-footer">
        <a routerLink="/pizza/{{ pizza.id }}" class="badge badge-pill badge-warning">Voir la pizza</a>
      </div>

  </div>
    
</div>
</div>

<app-ingredient-list [ingredients]="ingredients" (select)="selectIngredient($event)"></app-ingredient-list>
<h2>Les pipes</h2>
<p>{{ 10 | test }} € TVA incluse</p>
<p>{{ 10 | test:10 }} € TVA 10%</p>